<%- include('partials/header') -%>

<h1>ABOUT THE AUTHOR</h1>
<p style="padding: 40px; padding-top: 20px;">Hello, I am Pragyan. I am a web designer, web developer, and a writer. The last one I am not so good at, but I try. This is a website I had created as a project while learning web development. Now I think this will be of my use. I just have to make some changes according to my convinience.</p>
<%- include('partials/footer') -%>
