<%- include('partials/header') -%>

<div class="compose">
<h1>COMPOSE</h1>
<form class="form" action="/compose" method="post">
  <label for="formGroupExampleInput" class="form-label">Title</label>
  <div>
    <input
      type="text"
      class="form-control"
      name="title"
      id="formGroupExampleInput"
      placeholder="Title of the post"
      required
    />
  </div>
  <div>
    <label for="formGroupExampleInput" class="form-label">Post</label>
    <textarea
      class="form-control"
      placeholder="Post"
      name="post"
      id="floatingTextarea2"
      style="height: 150px;"
      required
    ></textarea>
  </div>
  <div class="publishbtn">
    <button type="submit" class="btn btn-dark">Publish</button>
  </div>
</form> 

</div>


<div style="position: fixed; bottom: 0; width: 100%;">
  <%- include('partials/footer') %>
</div>
