<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<h1>CONTACT ME</h1>
<H3>
    <br>Sidanda Sharma Path, Moranhat<br>
    Pin. 785670<br>
    Charaideo, Assam, India<br>
    Ph 9825308542<br>
    pragyanchetia22@gmail.com</h3>
<%- include('partials/footer') -%>
